html,body{
  width: 100%
  margin: 0;
  padding: 0;
font-family: 'Oswald', sans-serif;
  background-color: #FF1B1D;
}

.container{
            text-align: center;
}
.image{
  width: 300px;
  margin-top: 100px;
  border-radius:100%;
}
.nav{
  background-color: #68FFFC;

}
.nav-link{
   display: inline-block;
   padding:25px
}
.image{
  width: 300px;
  margin-top: 100px;
  border-radius:50%;
}
a{
  font-size: 20px;
  color: #FF1B1D;
  text-decoration: none;
}

a:hover{  font-size: 30px;
  color: #FF1B1D;
  text-decoration: none;

}
